body,html {
    height: 100%;
}
.navIcon{
    margin-left:auto;
   
}
.welcome_box{
    font-size: 20px;
    line-height: 150%;
    display: flex;
    align-items:flex-start;
    justify-content: space-between; 
   
}

.welcome_block_container {
    margin: 0px 6px 0px
}
.three_block {
    text-align: center;
}
.three_block_img{
    margin: 5px 0;
    max-width:100%;
    width:1200px;

    box-shadow: 0px 0px 6px #666;
}
.slide_box{
    max-width: 90%;
   
}
.welcome_container {
    background-color: #071013;
    height: 1000px;
    padding: 30px;
    margin: 26px;
}
.info_box {
    background-color: #071013;
    height: 500px;
    padding: 30px;
    margin: 26px;
}
.header_info {
    background-color: #2D3142;
    color: black;
    margin: 15px;
    padding: 12px;
}
.log_sign_links{
    margin: 10px;

}