body,html {
    height: 100%;
}
.navIcon{
    margin-left:auto;
   
}
.welcome_box{
    font-size: 20px;
    line-height: 150%;
    display: flex;
    align-items:flex-start;
    justify-content: space-between; 
   
}

.welcome_block_container {
    margin: 0px 6px 0px
}
.three_block {
    text-align: center;
}
.three_block_img{
    margin: 5px 0;
    max-width:100%;
    width:1200px;

    box-shadow: 0px 0px 6px #666;
}
.slide_box{
    max-width: 90%;
   
}
.welcome_container {
    background-color: #071013;
    height: 1000px;
    padding: 30px;
    margin: 26px;
}
.info_box {
    background-color: #071013;
    height: 500px;
    padding: 30px;
    margin: 26px;
}
.header_info {
    background-color: #2D3142;
    color: black;
    margin: 15px;
    padding: 12px;
}
.log_sign_links{
    margin: 10px;

}
.table_row {
    border-color: #cf5234;
    border-bottom: #cf5234;
    border-style: inset;
}

.t_header {
    text-align: center;
    border: #cf5234;
    border-style: solid;
    font-size: 25px;
    padding: 15px;
}
.t_data {
    border-left: crimson;
    border-right: crimson;
    text-align: center;
    padding: 10px;
    font-size: 15px;
}
.search_container {
    background-color: #071013;
    padding: 25px;
    margin: 31px;
    height: 265px;
    width: 1135px;
}
.img-box {
   
}
.bg {
    background-image: url("../Models/Images/9uYMig.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.table_container {
    background-color: #071013;
    height: 1000px;
    padding: 30px;
    margin: 26px;
}