@{
    ViewBag.Title = "About";
}

<h1>About MTG Forge</h1>

<p>Welcome to the hottest deckbuilding site of all the planes... MTG FORGE!</p>


<div style="display:grid">
    <h2 style="float:left; text-align:left;">What we do</h2>
    <div class="how-left" style="display: flex; float:left">

        <input style="float:left;" type="image" src="~/Models/Images/phage.jpg" alt="one" width="250" height="275" align="left">
        <p style="float: right; margin: 25px; text-align:left; font-size:20px" align="right">Welcome to MTG Forge! A site where you can create any MTG deck you can dream of! You are able to make any deck you want and rate all of your friends' decks as well with out handy rating system. This allows you to tell whether or not the deck you are looking at is popular at the moment. Sign up for your free account now!</p>
    </div>
    <h2 style="float:right; text-align:right;">How to Forge</h2>
    <div class="how-right" style="display: flex; float:right">
        <p style="float: left; margin: 25px;text-align:right; font-size:20px" align="left">info on logging in and deck creation here</p>
        <input type="image" src="~/Models/Images/magic-the-gathering-trading-card-game-cards-3.JPG" alt="two" width="350" height="200" align="right" style="float:right;">
    </div>
    
</div>
<footer></footer>




