@{
    ViewBag.Title = "About";
}

<div class="info_box" style="display:grid; height: 785px">
<h1>About MTG Forge</h1>

<p>Welcome to the hottest deckbuilding site of all the planes... MTG FORGE!</p>


    <h2 style="float:left; text-align:left;">What we do</h2>
    <div class="how-left" style="display: flex; float:left">

        <input style="float:left;" type="image" src="~/Models/Images/phage.jpg" alt="one" width="250" height="275" align="left">
        <p style="float: right; margin: 25px; text-align:left; font-size:20px" align="right">Welcome to MTG Forge! A site where you can create any MTG Card (not deck) you can dream of! You are able to make any Card (not deck) you want and rate all of your friends' cards as well with out handy rating system (WIP). This allows you to tell whether or not the Card you are looking at is popular at the moment. Sign up for your free account now!</p>
    </div>
    

</div>
