@{
    ViewBag.Title = "About";
}

<h1>About</h1>

<p>Use this area to provide additional information about a certain deck of cards.</p>

<div class="how-left">
    <input type="image" src="~/Models/Images/23b01c1e3037bd2e5edf222232869b7c.jpg" alt="one" width="48" height="48">
        <p style="float: right; margin-right: 50px;">Decscription about one.</p>
</div>

<div class="how-right">
    <input type="image" src="~/Models/Images/hm.png" alt="two" width="48" height="48">
    <p style="float: left; margin-right: 50px;">Decscription about two.</p>
</div>
