@{
    ViewBag.Title = "DeckBuilder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Here you create you decks of cards.</p>

<p>Shows the cards and allows the person to click them to add them to a deck.</p>