@{
    ViewBag.Title = "Home Page";
}


<div class="hero-image" style="width:1440px; height: 500px; margin-top:150px; margin-left:auto; margin-right:auto; left: -100px">
    <div class="hero-text">
        <h1>Magic The Gathering</h1>
        <p>Deck Builder</p>
    </div>
</div>

<div style="background-color:red">
    <h1>Stuff goes here</h1>
    <p>
        The examples listed here are designed to spark some ideas and get you thinking about how to approach performance reviews for your team members. The phrases are organized by the different skills, attributes and aspects of performance that are commonly covered in reviews. As we’ve seen, there will be employees that are meeting or exceeding expectations and some that are not. For each area, therefore, we have included positive statements as well as negative ones.

        It’s important to remember, however, that these example phrases need to backed up with hard evidence and specific work examples if they are to be meaningful.
    </p>
</div>
