@{
    ViewBag.Title = "Home Page";
}



<div class="welcome_container">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <img style="width: 1000px; height: 500px" src="~/Models/Images/b671c9a004358bb71fc38531850c8426.png" alt="one">
            <div class="carousel-caption">
                <h3>Give rise to your creations</h3>
                <p>Create many decks built for any situation</p>
            </div>
        </div>

        <div class="item">
            <img style="width: 1000px; height: 500px" src="~/Models/Images/dominaria.jpg" alt="two">
            <div class="carousel-caption">
                <h3>Divide and Conquer</h3>
                <p>Build powerful decks to overcome any foe</p>
            </div>
        </div>

        <div class="item">
            <img style="width: 1000px; height: 500px" src="~/Models/Images/Strixhaven-Header.jpg" alt="three">
            <div class="carousel-caption">
                <h3>Unlimited Possiblites</h3>
                <p> over 20,000 unique cards to choose from</p>
            </div>
        </div>
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div>

<div id="divID" class="welcome_box">
    <div class="welcome_block_container">
        <div class="three_block">
            <h3>Build Decks</h3>
            <a href="@Url.Action("Deck")">
                <img src="~/Models/Images/Sram.jpg" class="three_block_img" />
            </a>
            <p>Start building your own deck</p>
        </div>
    </div>

    <div class="welcome_block_container">
        <div class="three_block">
            <h3>About</h3>
            <a href="@Url.Action("About")">
                <img src="~/Models/Images/image-asset.jpeg" class="three_block_img" />
            </a>
            <p>New to the Game? Learn more Here</p>
        </div>
    </div>

    <div class="welcome_block_container">
        <div class="three_block">
            <h3>Library</h3>
            <a href="@Url.Action("Deck")">
                <img src="~/Models/Images/Cogwork.jpg" class="three_block_img" />
            </a>
            <p>Check Out the Library</p>
        </div>
    </div>

</div>

<a href="https://localhost:44334/Home/LogIn">Log In</a> / <a href="https://localhost:44334/Home/SignUp">Sign Up</a>