@{
    ViewBag.Title = "Library";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Here is your library of cards.</p>

<tr>
    <td>Card 1</td> <!--Clicking the cards will send them over to Card for the specifics-->
    <td>Card 2</td>
    <td>Card 3</td>
</tr>
<tr>
    <td>Card 4</td>
    <td>Card 5</td>
    <td>Card 6</td>
</tr>
<tr>
    <td>Card 7</td>
    <td>Card 8</td>
    <td>Card 9</td>
</tr>