@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="info_box">
<h2 class="header_info">Log In Page</h2>
<form action="/action_page.php">
    <label for="uname">Username:</label>
    <input type="text" id="uname" name="uname"><br><br>
    <label for="pword">Password:</label>
    <input type="text" id="pword" name="pword"><br><br>
    <input type="submit" value="Log In">
</form>
<a href="https://localhost:44334/Home/Index">Back Home</a>
</div>

